.brandlogo{
    width:50px;
    height:50px;
}
body{
    margin:50px;
    padding:0;
  background: url(images/bodybg.jpg) no-repeat ;
  background-size: cover;
  border-radius:10px;
  font-family:"AirbnbCerealMedium";
  text-color:#6e6f7d;
}

#sidebarmain nav a:hover{
    background:white;
    border:5px;
    color:#2d8bfe;
}
#formmain{
    margin: auto;
    
}
#expendituremain div:nth-child(even){
    padding: 1px;
    background-color: rgb(161, 223, 241);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#expendituremain div:nth-child(odd){
    padding: 1px;
    background-color: white;
    color:rgb(161, 223, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main div{
    font-size: large;
}